* { font-family: Space Mono; }
.paragraph_404 { margin-left: 16px; font-size: 18px; }
.button { background: black; height: 5em; margin-top: 1em; font-size: calc(1em - 5px);  color: white;  }

.container { display: flex; align-items: center; margin: auto;  margin-top: 5em;  }
.scarecrow_image { max-width: 50%; margin-right: 5em; }
.container_content{  display: flex; flex-direction: column; }
.paragraph_main { word-spacing: .3em; max-width: 8em; }
.paragraph_content { white-space: pre-line; }	

@media (max-width: 576px){
	
	.container { display: block; }
	.paragraph_main { width: 7em; }
	.button { width: 50%; }
}
@media (max-width: 220px){
	.scarecrow_image { width: 50%; margin: auto; padding: 0; display: block;}
	.button { width: 70%; }
}
